body, #game {
  height: 100%;
  margin: 0;
}
@media all and (min-width: 768px) {
  body {
    font-size: 1.8em;
  }
}
@media all and (min-width: 1280px) {
  body {
    font-size: 2.2em;
  }
}
#game {
  display: flex;
  flex-direction: column;
}
#cards {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#cards .category {
  flex : 1;
  display: flex;
}
@media all and (orientation:portrait) {
  #cards .category {
    flex-direction: column;
  }
}
@media all and (orientation:landscape) {
  #cards {
    flex-direction: column;
  }
}
#cards .card {
  flex: 1;
  display: flex;
}
.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.layout .header {
  flex: 1;
  display: flex;
  align-items: center;
}
.layout .header div {
  flex: 1;
}
.layout .main {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout .footer {
  flex: 1;
  display: flex;
  align-items: center;
}
.layout .footer div {
  flex: 1;
}
#transitions {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 40%;
  margin: 0 0 0 -20%;
  text-align: center;
}
#goal {
  display: flex;
}
#goal div {
  flex: 1;
}
#actions {
  display: flex;
}
#actions div {
  flex: 1;
}
body {
  font-family: sans-serif;
}
.card {
  margin: 1px;
  padding: 4px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
}
.button {
  text-align: center;
  cursor: pointer;
  padding: 8px 0;
  background: ghostwhite;
  border: 1px solid gray;
}
.id {
  font-size: 0.5em;
  text-align: right;
}
.type {
  padding: 0 4px 0 4px;
}
.cost {
  font-weight: bold;
  font-size: 0.8em;
  text-align: left;
}
.cost:before {
  content: "\2605";
}
.optimal {
  text-decoration: underline;
}
.main {
  font-size: 1.1em;
}
.step {
  margin: 0 8px 0 8px;
  border: solid 1px;
  border-radius: 50%;
  background: white;
}
.state {
  border: 1px solid;
  border-radius: 5px;
  font-size: 1.2em;
}
#remove .card {
  background: lightblue;
}
#remove .main {
  background: lightcyan;
}
#get .card {
  background: lightsalmon;
}
#get .main {
  background: bisque;
}
#change .card {
  background: khaki;
}
#change .main {
  background: cornsilk;
}
.remaining2 {
  background: sandybrown;
}
.remaining1 {
  background: lightgray;
}
.remaining0 {
  background: gold;
}
#transitions {
  background: antiquewhite;
  border: 1px solid;
  border-radius: 5px;
}
.entry {
  padding: 8px;
  cursor: pointer;
  font-size: 2em;
  border-bottom: 1px dotted;
}
.entry:last-child {
  border-bottom: 0;
}
#clay, #iron, #gold {
  border: 1px solid;
  border-radius: 5px;
  margin: 0 1px 1px 1px;
}
#clay {
  background: sandybrown;
}
#iron {
  background: lightgray;
}
#gold {
  background: gold;
}
#goal > div {
  font-size: 2em;
  text-align: center;
}
.dice {
}
.die {
  font-size: 1.2em;
}
