body, #game {
  height: 100%;
  margin: 0;
}
#game {
  display: flex;
  flex-direction: column;
}
#cards {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#cards .category {
  flex : 1;
  display: flex;
}
@media all and (orientation:portrait) {
  #cards .category {
    flex-direction: column;
  }
}
@media all and (orientation:landscape) {
  #cards {
    flex-direction: column;
  }
}
#cards .card {
  flex: 1;
  display: flex;
}
.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.layout .header {
  flex: 1;
  display: flex;
  align-items: center;
}
.layout .header div {
  flex: 1;
}
.layout .main {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout .footer {
  flex: 1;
  display: flex;
  align-items: center;
}
.layout .footer div {
  flex: 1;
}
#goal {
  display: flex;
}
#goal div {
  flex: 1;
}
#actions {
  display: flex;
}
#actions div {
  flex: 1;
}
body {
  font-family: sans-serif;
}
.card {
  margin: 2px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
}
.button {
  text-align: center;
  cursor: pointer;
  padding: 5px;
  background: ghostwhite;
  border: 1px solid gray;
}
.id {
  font-size: 50%;
  text-align: right;
}
.type {
  padding: 0 5px 0 5px;
}
.cost {
  font-weight: bold;
  font-size: 80%;
  text-align: left;
}
.cost:before {
  content: "\2605";
}
.main {
  font-size: 120%;
}
.step {
  margin: 0 8px 0 8px;
  border: solid 1px;
  border-radius: 50%;
  background: white;
}
.state {
  border: 1px solid;
  border-radius: 5px;
  font-size: 120%;
}
#remove .card {
  background: lightblue;
}
#remove .main {
  background: lightcyan;
}
#get .card {
  background: lightsalmon;
}
#get .main {
  background: bisque;
}
#change .card {
  background: khaki;
}
#change .main {
  background: cornsilk;
}
.remaining2 {
  background: sandybrown;
}
.remaining1 {
  background: lightgray;
}
.remaining0 {
  background: gold;
}
#clay, #iron, #gold {
  border: 1px solid;
  border-radius: 5px;
  margin: 0 2px 2px 2px;
}
#clay {
  background: sandybrown;
}
#iron {
  background: lightgray;
}
#gold {
  background: gold;
}
#goal > div {
  font-size: 200%;
  text-align: center;
}
.dice {
}
.die {
  font-size: 150%;
}
